.container {
    max-width: 1180px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.link {
    transition: all 0.5s ease-in-out;
}

.divv {
    max-width: 555px;
    width: 100%;
}

.button {
    padding: 12px 25px;
    background-color: #DC780B;
    border-radius: 12px;
}
.flexss {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer {
    a,h4,h5,h6 {
        color: #FFFFFF;
    }
}